#navbar {
    background-color: #121212;
    position: fixed;
    height: 75px;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

#cont {
    background-color: #212121;
    background-size: cover;
    height: 100%;
    background-repeat: repeat;
}

#page-content {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.scrollable {
    height: 70%;
    overflow: auto;
    margin-bottom: 30px;
}

#page-content h3:first-of-type {
    color: #FFF;
    margin-bottom: 30px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    height: 41px;
    padding: 0;
    border-bottom: solid 1px #121212;
    background: #24262C;
    line-height: 17px;
    font-size: 14px;
    text-align: left;
    color: #FFF;
    font-weight: normal;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

div {
    display: block;
}

.ranking-table {
    width: 100%;
    table-layout: fixed;
    background-color: #24262C;
    border: solid 1px #121212;
}

.ranking-table-row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.ranking-table-cell {
    border-bottom: solid 1px #121212;
    height: 54px;
    line-height: 16px;
    font-size: 14px;
}

.ranking-table-cell-rank {
    text-align: center;
    color: #FFF;
}

.ranking-table-cell-summoner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ranking-table-cell-summoner img{
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.ranking-table-cell-summoner span{
    text-decoration: none;
    vertical-align: middle;
    line-height: 19px;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
}

.ranking-table-cell-tier {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ranking-table-cell-tier img {
    margin-right: 12px;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.ranking-table-cell-tier span{
    vertical-align: middle;
    line-height: 19px;
    font-size: 15px;
    color: #FFF;
}

.ranking-table-cell-lp {
    color: #FFF;
}

.ranking-table-cell-winrate{
    color: #FFF;
    text-align: left;
}

.win-rate-progress-bar {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    vertical-align: middle;
}

.win-rate-progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}

.win-rate-progress-left {
    background: #3d95e5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}

.win-rate-progress-right {
    background: #ee5a52;
    width: 100%;
}

.win-rate-progress-text {
    position: absolute;
    top: 3px;
    height: 100%;
    line-height: 15px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.win-rate-progress-text-left {
    left: 9px;
    text-align: left;
    z-index: 1;
}

.win-rate-progress-text-right {
    right: 8px;
    text-align: right;
}

.ranking-page-nav {
    margin: auto;
    margin-top: 30px;
    height: 30px;
}

ul {
    display: block;
}

.ranking-page-previous {
    width: 100%;
    height: 100%;
}

.ranking-page-next {
    width: 100%;
    height: 100%;
}

.ranking-page-nav-buttons {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.navigation-btn {
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1em;
    color: #005c6d;
    background-color: #1D2123;
    border: 1px solid #005c6d;
    width: fit-content;
}
.selected {
    color: #00C5E8;
    border: 2px solid #00C5E8;
}
.ranking-podium-list {
    margin-bottom: 30px;
    text-align: center;
}
.ranking-podium-item {
    position: relative;
    display: inline-block;
    padding: 14px 18px;
    border: 2px solid #121212;
    background: #24262C;
    box-sizing: border-box;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
.ranking-podium-item-rank {
    width: 30px;
    background: #121212;
    padding: 3px 0;
    line-height: 24px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 21px;
    text-align: center;
    color: #fff;
}
.ranking-podium-item-top {
    display: block;
    margin: auto;
    width: 30%;
}
.ranking-podium-item-bot {
    width: 30%;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}
.ranking-podium-item-icon {
    position: relative;
    display: block;
    width: 49px;
    height: 49px;
    margin: 10px auto 0;
}
.ranking-podium-item-icon-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ranking-podium-item-icon img {
    border: 0;
}
.ranking-podium-item-summonerName {
    display: block;
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #bd5151;
}
.ranking-podium-item-level {
    line-height: 25px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.ranking-podium-item-tier {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ranking-podium-item-tier img {
    width: 25px;
    vertical-align: middle;
}
.ranking-podium-item-tier span {
    line-height: 14px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
    margin-right: 4px;
}
.ranking-podium-item-tier b {
    line-height: 14px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
    margin-right: 4px;
}
.ranking-podium-item-winrate {
    margin-top: 5px;
}
.ranking-podium-item-winrate .win-rate-progress-bar {
    margin: auto;
    width: 100%;
}
.ranking-podium-item .ranking-podium-item-rank {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -2px;
    margin-left: -2px;
}
@media (max-width:650px) {
    #page-content {
        width: 100%;
    }
    .ranking-podium-item {
        width: 100%;
        margin-left: 0px;
    }
}