.page-container {
    margin: auto;
    width: 80%;
    background-color: #212121;
    padding-top: 5%;
}

.compare-list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.compare-item {
    width: 250px;
    display: inline-block;
}

.card-container {
    background-color: #24262C;
    border: 1px solid #121212;
    padding-left: 10px;
    padding-right: 10px;
}

.tier-icon {
    height: 100px;
}

.tier-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.summoner-name a {
    text-decoration: none;
    font-weight: bold;
    color: #bd5151;
}

.summoner-name a:hover {
    color: #bd5151;
}

.tier-info span {
    color: #666;
    font-size: 14px;
}
.tier-info b {
    padding-left: 5px;
    color: #666;
}

.tier-info {
    margin-bottom: 5px;
}

.winrate {
    margin-top: 2px;
    width: 100%;
    margin: auto;
}

.winrate .win-rate-progress-bar {
    margin: auto;
}

.win-rate-progress-bar {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    vertical-align: middle;
}

.win-rate-progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}

.win-rate-progress-left {
    background: #3d95e5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}

.win-rate-progress-right {
    background: #ee5a52;
    width: 100%;
}

.win-rate-progress-text {
    position: absolute;
    top: 3px;
    height: 100%;
    line-height: 15px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.win-rate-progress-text-left {
    left: 9px;
    text-align: left;
    z-index: 1;
}

.win-rate-progress-text-right {
    right: 8px;
    text-align: right;
}

.winrate-text {
    color: #666;
    padding-left: 4px;
}

.card-recent-matches .winrate{
    padding-bottom: 10%;
}

.card-recent-matches {
    height: 475px;
}

.card-info {
    height: 200px;
}

.recent-title {
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.recent-games {
    padding: 0;
}

.recent-games-container {
    margin: auto;
    width: 100%;
}

.recent-games-item {
    display: flex;
    justify-content: space-between;
    font-size: 0px;
    height: 40px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
}

.recent-champion-icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.recent-champion-icon img{
    height: 100%;
    width: 100%;
}

.kda {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.time-played {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-align: right;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.win-true {
    color: #3d95e5;
}

.win-false {
    color: #ee5a52;
}

ul, li {
    list-style: none;
}

@media (max-width:1566px) {
    .page-container {
        width: 100%;
    }
}

@media (max-width:1250px) {
    .compare-list {
        flex-direction: column;
    }
    .compare-item {
        margin: auto;
    }
}

.loader-container {
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background:rgba(0,0,0,0.4)
}

.loader {
    margin: 15% auto;
    border: 16px solid #666;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 120px;
    height: 120px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}