#cont {
    background-color: #f1f1f1;
}
#hamburgerImg {
    height: 75px;
    position: absolute;
    top: 0;
}
#navbar {
    background-color: #121212;
    height: 75px;
    display: flex ;
    flex-direction: column;
    box-shadow: 0 15px  #c1c1c1;
}
#summonerInfo {
    padding-top: 30px;
    padding-left: 20%;

    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#profileInfo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 450px;
    position: relative;
    top: 0;
    padding-bottom: 10px;
    background-color: #FFF;
    padding: 15px;
    border: 1px solid #c1c1c1;
}
#profileIcon {
    display: flex;
    justify-content: center;
}
#level {
    position: absolute;
    top: 90px;
    font-size: 20px;
    color: #FFF;
}
#name {
    font-size: 30px;
    color: #121212;
}
#togFavorite{
    width: 200px;
    font-size: 15px;
    align-self: flex-end;
}
.rankDiv {
    background-color: #FFF;
    padding: 15px;
    border: 1px solid #c1c1c1;
    width: 350px;
    display: flex;
    position: relative;
}
.rankedText{
    position: absolute;
    right: 50px;
}
.rank {
    font-size: 20px;
    font-weight: bold;
}